#logo 
logo.ico


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
pdfm-env/
.venv/
env/

# bat scripts
*.bat

# releases
releases/*

# PyInstaller build artifacts
dist/
build/
*.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/